.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .header-home {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

    }

    .main-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

        .newEntry {
            max-width: max-content;
        }
    }
}
